<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battlecity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,139}}</string>
                <key>sourceSize</key>
                <string>{376,139}</string>
            </dict>
            <key>blast1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>blast1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,443},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>blast1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,143},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>blast1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,459},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>blast1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,553},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>blast1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,684},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>blast1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,634},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>blast1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{6,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{6,11}</string>
            </dict>
            <key>blast2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,546},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>blast2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,916},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>blast2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,620},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>blast2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,615},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>blast2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,584},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>blast2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,920},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>blast2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,916},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>blast2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>blast2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,598},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>blink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,143},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,881},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,666},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,881},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bonus_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,446},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bonus_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,456},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bonus_helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,426},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bonus_shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,314},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,284},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bonus_tank.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,254},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,397},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>bullet_impact.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,519},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>enemy1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,819},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,815},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,949},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,885},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,910},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,852},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,335},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,305},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,489},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,459},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,516},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,486},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,522},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,492},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,104},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>enemy8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,74},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,412},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{248,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,160}}</string>
                <key>sourceSize</key>
                <string>{248,160}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,378},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,133},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,344},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>home2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,181},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_ip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,476},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>icon_ip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,215},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>icon_tank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,381},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>icon_tank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,365},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>levelup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,584},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>levelup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{119,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,70}}</string>
                <key>sourceSize</key>
                <string>{119,70}</string>
            </dict>
            <key>levelup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,235},{226,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,94}}</string>
                <key>sourceSize</key>
                <string>{226,94}</string>
            </dict>
            <key>levelup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{222,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,119}}</string>
                <key>sourceSize</key>
                <string>{222,119}</string>
            </dict>
            <key>levelup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,331},{222,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,110}}</string>
                <key>sourceSize</key>
                <string>{222,110}</string>
            </dict>
            <key>levelup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{211,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,115}}</string>
                <key>sourceSize</key>
                <string>{211,115}</string>
            </dict>
            <key>lifeadd0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,653},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>lifeadd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,575},{79,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>
            </dict>
            <key>lifeadd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,575},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>lifeadd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,74},{102,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{102,57}</string>
            </dict>
            <key>lifeadd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,527},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{95,46}</string>
            </dict>
            <key>lifeadd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,543},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>lifeadd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>num.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,443},{140,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,14}}</string>
                <key>sourceSize</key>
                <string>{140,14}</string>
            </dict>
            <key>player1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,815},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,811},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,786},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,780},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,749},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player1_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,224},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>player1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,194},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>player2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,753},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,749},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,745},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,720},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,714},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player2_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,164},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>player2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,134},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>protect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,687},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>protect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,846},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tree1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,648},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tree1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tree1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,679},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tree1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5881e801f64cf1c7bbbfc55101cf848$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
